a {
  color: #4169e1;
}

a:visited {
  color: #666633;
}

body {
  margin: 15px;
}

hr {
  height: 0;
  margin-top: 20px;
  margin-bottom: 20px;
}

#autocomplete_field .ui.multiple.search.dropdown {
  min-width: 20em;
}

#checkbeds_field {
  margin-left: 5px;
  vertical-align:middle;
}

.ck-button {
  cursor: pointer;
  display: inline-block;
  /* margin-right: 5px; */
  /* border-radius:4px; */
  border: 1px solid #D0D0D0;
  /* float:left; */
  /* padding: 0.58928571em 1.125em 0.58928571em; */
  border-radius: 0.28571429rem;
}

.ck-button label {
  float:left;
  width: 5.0em;
  height: 2.5em;
}

.ck-button label span {
  text-align:center;
  padding: 0.6em; /* centers text with respect to height .ck-button label */
  display: block;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.ck-button label input {
  position:absolute;
  top: -30px; /* hides the checkbox */
}

.ck-button input:checked + span {
  background-color: #1B1C1D;
  color: #FFFFFF;
  border-radius: 0.28571429rem;
}

th.sorted.ascending:after {
	content: "  \2191";
}

th.sorted.descending:after {
	content: " \2193";
}
