@**
 * Generate an HTML input text.
 *
 * Example:
 * {{{
 * @inputText(field = myForm("name"), args = 'size -> 10, 'placeholder -> "Your name")
 * }}}
 *
 * @param field The form field.
 * @param args Set of extra attributes.
 * @param handler The field constructor.
 *@
@(field: play.api.data.Field, args: (Symbol,Any)*)(implicit handler: helper.FieldConstructor, messages: play.api.i18n.Messages)

@inputType = @{ args.toMap.get('type).map(_.toString).getOrElse("text") }

@helper.input(field, args.filter(_._1 != 'type):_*) { (id, name, value, htmlArgs) =>
    <div class="ui input">
      <input type="@inputType" id="@id" name="@name" value="@value" onclick="this.setSelectionRange(0, this.value.length);" onblur="reformat(this);" onkeydown="if(event.key == 'Enter') { reformat(this) }"  @toHtmlArgs(htmlArgs) />
    </div>
}
