@(form: Form[WidgetForm.Data], postUrl: Call, checkbeds: Seq[WidgetForm.CheckBeds], configuration: play.api.Configuration, fieldsById: List[Map[String, String]])(implicit request: RequestHeader, messages: Messages)

@import views.minimal._
@import com.github.nscala_time.time.Imports._
@import org.joda.time.format.ISODateTimeFormat

@fc_check = @{ helper.FieldConstructor(minimal.checkboxGroupFieldConstructor.f) }
@fc_price = @{ helper.FieldConstructor(minimal.priceFieldConstructor.f) }

@main("Kiosk") {
  <script type="text/javascript">
    function numberWithCommas(x) {
        var parts = x.toString().split(".");
        parts[0] = parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        return parts.join(".");
    }

    function reformat(obj) {
      obj.value = `\$${ numberWithCommas(Math.floor(obj.value.replace(/[^\d\.]/g, '')))}`
    }
  </script>

  @* Flash shows updates to a page *@
  @request.flash.data.map{ case (foo, bar) =>
    <div class=@foo>@bar</div>
  }

  @* Global errors are not tied to any particular form field *@
  @if(form.hasGlobalErrors) {
    @form.globalErrors.map { error: FormError =>
      <div>
        @error.key: @error.message
      </div>
    }
  }

  @helper.form(postUrl) {

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> 
    <script src="@routes.Assets.at("javascripts/jquery.autocomplete.js")"></script>
    <script src="@routes.Assets.at("javascripts/semantic.min.js")"></script>
    <script src="@routes.Assets.at("javascripts/jquery.tablesort.min.js")"></script>
    <script type="text/javascript" src="@routes.WidgetController.javascriptRoutes"></script>

    @helper.CSRF.formField

    Rent between
    @minimal.inputText(field = form("rentlo"))(handler = fc_check, implicitly[Messages])
    and     
    @minimal.inputText(field = form("renthi"))(handler = fc_check, implicitly[Messages])
    in 
    @minimal.inputDropdown(field = form("autocomplete"))(handler = fc_check, implicitly[Messages])

    <script>
    $('.ui.dropdown').dropdown({
        apiSettings: {
          url: '/autocomplete?query={query}'
        },
        keepOnScreen: false,
        values: [
          @if(form("autocomplete").value.exists(_.trim.nonEmpty)) {
            @for(item <- form("autocomplete").value.get.split(",") ) {
              {
                name: '@item',
                value: '@item',
                selected: true,
              },
            }
          }
        ],
    })
    ;
    </script>

    @minimal.inputCheckboxGroup(form("checkbeds"), options = checkbeds.map(g => g.value.toString -> g.name))(handler = fc_check, implicitly[Messages])

    <button>Update</button>
    <hr/>

    @if(!fieldsById.isEmpty) {
      <table class="ui sortable striped table">
        <thead>
          <tr>
            <th>Title</th>
            <th>Price</th>
            <th sorted descending>Posted</th>
          </tr>
        </thead>
        <tbody>
        @for( item <- fieldsById ) {
          <tr>
          <td><a href=@item("link")>@item("title")</td>
          <td><a href=@item("link")>@item.get("price").fold("unspecified")(x => java.text.NumberFormat.getIntegerInstance.format(x.toInt))</td>
          <td><a href=@item("link")>@ISODateTimeFormat.dateTimeParser().parseDateTime(item("posted")).toString(DateTimeFormat.forPattern("EEE, d MMM h:m a"))</td>
          </tr>
        }
        </tbody>
      </table>
    }
  }
}
