@import helper._
@import reactivemongo.bson.BSONObjectID
@import org.apache.commons.lang.StringUtils
@(email: String, uid: BSONObjectID, queries: List[models.Query])(implicit r: RequestHeader)

@main("Searches") {
  <div class="row">
    <div class="span12">
      <h2>Stored searches</h2>
      @if(queries.isEmpty) {
        <p>No queries found.</p>
      } else {
      <ul>
      @queries.map { query =>
        <li>@StringUtils.abbreviate(query.places.mkString(","), 25) 
          @if(query.bedrooms contains 0) {
              0-1BR
          }
          @if(query.bedrooms contains 2) {
              @if(query.bedrooms.size > 1) {
                  ,
              }
              2BR+
          }
          $@query.rentlo - $@query.renthi
          created: @org.joda.time.format.DateTimeFormat.forPattern("MMM dd, yyyy").print(query.createdAt) - <a href="@helper.CSRF(routes.UserController.delete(uid, query.id))" class="delete">delete</a>
        </li>
      }
      </ul>
      }
    </div>
  </div>
}
