@import reactivemongo.bson.BSONObjectID
@import org.apache.commons.lang.StringUtils
@(form: Form[FormDTO], email: String, uid: BSONObjectID, queries: List[models.Query])(implicit configuration: play.api.Configuration, request: RequestHeader, messages: Messages)

@main("Stored Searches") {
  <h2>Stored Searches</h2>
  <ul>
  @if(queries.isEmpty) {
      <li>No queries found.</li>
  } else {
    @queries.map { query =>
      <li>@StringUtils.abbreviate(query.places.mkString(","), 25) 
        @{query.bedrooms.map{ v => Option(v).map(_.intValue) }.flatten.map {case 0 => "0-1BR"; case 2 => "2BR+" }.mkString(",")}
        $@query.rentlo-$@query.renthi
        created: @org.joda.time.format.DateTimeFormat.forPattern("MMM dd, yyyy").print(query.createdAt) - <a href="@helper.CSRF(routes.UserController.delete(uid, query.id))" class="delete">delete</a>
      </li>
    }
  }
  </ul>
  @widget(form, routes.UserController.Email(email)) { 
    <button class="ui primary button">
      <i class="plus circle icon"></i>Add Search
    </button>
  }
}
