@import com.github.nscala_time.time.Imports._
@import org.joda.time.format.ISODateTimeFormat
@import models._
@(form: Form[FormDTO], fieldsById: List[Map[String, String]])(implicit configuration: play.api.Configuration, request: RequestHeader, messages: Messages)

@main("Keeyosk") {
  @* Flash shows updates to a page *@
  @request.flash.data.map{ case (foo, bar) =>
    <div class=@foo>@bar</div>
  }

  @* Global errors are not tied to any particular form field *@
  @if(form.hasGlobalErrors) {
    @form.globalErrors.map { error: FormError =>
      <div>
        @error.key: @error.message
      </div>
    }
  }

  <script src="@routes.Assets.at("javascripts/jquery.tablesort.min.js")"></script>
  <script src="@routes.Assets.at("javascripts/js.cookie.js")"></script>
  <script type="text/javascript" src="@routes.QueryController.javascriptRoutes"></script>
  <script type="text/javascript">
    function numberWithCommas(x) {
        var parts = x.toString().split(".");
        parts[0] = parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        return parts.join(".");
    }

    function reformat(obj) {
      obj.value = `\$${ numberWithCommas(Math.floor(obj.value.replace(/[^\d\.]/g, '')))}`
    }
  </script>

  <div class="ui basic modal">
    <div class="content">
      <p>
        @helper.form(action = routes.UserController.getEmail("tbd"), args = 'class -> "ui form segment") {
          @helper.CSRF.formField
          <div class="field">
            <label>Email address</label>
            <div class="ui small input">
              <input type="text" name="email" onkeydown = "if(event.keyCode==13) document.getElementById('approve').click()">
            </div>
          </div>
        }
    </div>
    <div class="actions">
      <div class="ui cancel button">Cancel</div>
      <div class="ui approve button" id="approve">Done</div>
    </div>
  </div>

  @widget(form) {   
    <script>
      function NonemptyAutocomplete() {
        if (!$('#autocomplete').val()) {
          $('#autocomplete').val('@configuration.getString("dropdown_prepopulate").getOrElse("").split(",").toList.headOption.getOrElse("Manhattan")');
        }
        if (!$("input[name='checkbeds[]']:checked").length) {
          $('#checkbeds_0').prop("checked", true);
        }
      }
    </script>
    <button onclick="NonemptyAutocomplete()" class="ui primary button">Update</button> 
  }
  <button class="ui secondary button">Email</button>
  <hr/>

  <script>

    $(document).ready(function() {
      if( Cookies.get('email') ) {
        $('.ui.form input[name=email]').val(Cookies.get('email'))
      }
  
      @if(!fieldsById.isEmpty) {
        $('.my.form :checkbox').change(function() {
          if ($("input[name='checkbeds[]']:checked").length) {
            $('.my.form').submit();
          }
        });
      }
  
      $('.ui.form').form({
        on: 'blur',
        fields: {
          email: {
            rules: [
              {
                type: 'email'
              }
            ]
          }
        }
      });
  
      function emailSubmit() {
        // relying on GET     /mongo/getEmail             controllers.UserController.getEmail(email)
        var email = $('.ui.form input[name=email]').val();
        Cookies.set('email', email);
        $('.ui.form').submit();
      }
  
      $('.ui.secondary.button').on("click", function(e) {
        e.preventDefault();
  
        // if f() { g() h() } else h() instead of if f() { g() } h() 
        if( $('.ui.form input[name=email]').val() == '' ) {
          $('.ui.basic.modal')
            .modal({
              onApprove: function() {
                if( $('.ui.form').form('is valid', 'email') ) {
                  emailSubmit();
                } else {
                  return false;
                }
              }
            })
            .modal('show')
          ;
        } else {
          emailSubmit();
        }
      });
    });
  
  </script>

  @if(!fieldsById.isEmpty) {
    <table class="ui sortable striped table">
      <thead>
        <tr>
          <th class="no-sort">Title</th>
          <th>Price</th>
          <th sorted descending>Posted</th>
          <th>Score</th>
        </tr>
      </thead>
      <tbody>
      @for( item <- fieldsById ) {
        <tr>
        <td><a href=@item("link")>@item("title")</td>
        <td data-sort-value=@{"%010.0f".format(item.get("price").fold(0.0)(_.toFloat))}><a href=@item("link")>@item.get("price").fold("unspecified")(x => java.text.NumberFormat.getIntegerInstance.format(x.toFloat.toLong))</td>
        <td data-sort-value=@item("posted")><a href=@item("link")>@ISODateTimeFormat.dateTimeParser().parseDateTime(item("posted")).toString(DateTimeFormat.forPattern("EEE, d MMM h:mm a"))</td>
        <td><a href=@item("link")>@{"%.1f".format(item.get("score").getOrElse("0.0").toFloat)}</td>
        </tr>
      }
      </tbody>
    </table>
    <script>
      $('table').tablesort()
    </script>    
  }
}
